.iiif-explorer-component {
  line-height: 1.2;
}
.iiif-explorer-component .explorer-link {
  color: inherit;
  text-decoration: none;
}
.iiif-explorer-component .explorer-link:hover {
  text-decoration: underline;
}
.iiif-explorer-component .explorer-breadcrumb,
.iiif-explorer-component .explorer-folder,
.iiif-explorer-component .explorer-resource {
  padding-left: 20px;
  background-position: 1px center;
  background-repeat: no-repeat;
}
.iiif-explorer-component .explorer-breadcrumb {
  background-image: url('../img/folder-open.png');
  background-position: 0 center;
}
.iiif-explorer-component .explorer-folder {
  background-image: url('../img/folder-closed.png');
}
.iiif-explorer-component .explorer-resource {
  background-image: url('../img/resource.png');
}
.iiif-explorer-component .selected {
  background-color: #000;
  color: #fff;
}
